.profileCard {
  width: 600px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  margin: 0 auto;
}

.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.fruits {
  width: 100px;
  height: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  margin: 2%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}